@import '../../styles/variables.sass'

.cart
  overflow: hidden
  
.buttonDiv
  margin-right: 20px
.normalBtn
  font-size: .8rem
  font-weight: 600
  text-transform: uppercase
  padding: .2rem 1rem
  cursor: pointer
  transition: opacity .3s
.acceptBtn
  background: $black
  color: #fff
  &:hover
    background-color: #aa3344
.declineBtn
  font-size: 1.0rem
  width: 100%
  margin-top: 20px
  margin-bottom: 20px
  margin-left: 1rem
  margin-right: 1rem
  background: none
  border: solid 2px
  &:hover
    background-color: $black
    color: #fff
.pyBtnDiv
  width: 100%
  display: flex
  justify-content: center
  align-items: center

.cImgDiv
  width: 75px

.cartIcon
  height: 75px

.leftDesc
  display: flex
  flex-direction: row
  align-items: center

.itemEaOnCart
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 100%
  min-width: 500px

.itemsOnCart
  display: flex
  flex-direction: row
  justify-content: flex-start  
  flex-wrap: wrap

.itemsOnCartDet
  flex: 1
  &:hover
    font-weight: bolder

.itemsOnCartDetPrice
  flex: 2
  text-align: center
  &:hover
    font-weight: bolder

.totalContainer
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.totalTitle
  margin-bottom: 20px

.totalFormatCon
  display: flex
  justify-content: center
  align-items: center
  flex-direction: row
  width: 30rem

.totalFormat
  text-align: right

.totalNamFormat
  flex: 6
  font-size: 0.9rem

.totalCurFormat
  flex: 1
  font-size: 1rem

.totalValFormat
  flex: 3
  display: flex
  justify-content: flex-end
  align-items: center 
  font-size: 1rem

.totalDesFormat
  flex: 3
  display: flex
  justify-content: flex-end
  align-items: center 
  font-size: 1rem

.totalTotFormat
  flex: 6
  font-size: 1rem
  font-weight: bold

.additionTemp
  display: flex
  justify-content: center
  align-items: center
  flex-direction: row
  width: 30rem
  border-style: solid
  border-bottom-width: 1px