@import '../../styles/variables.sass'

.paymentEaOncart
    display: flex
    flex-direction: row
    align-items: flex-start
    height: 100%

.paymentDetails
    display: flex
    flex-direction: column
    min-width: 300px
    height: 100%
  
.paymentOnCart
    display: flex
    height: 100%
    align-items: center

.paymentItemDetails
    display: flex
    flex-direction: row
    align-items: flex-end

.paymentDetailsExp
    display: flex
    flex-direction: column
    height: 100%

.paymentExp
    height: 100%
    display: flex
    border-style: solid
    border-right-width: 1px
    margin-right: 10px

.detailsAlignLeft
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: flex-end
    width: 100%

.approveBtn
    background: $black
    color: #fff
    &:hover
        background-color: #3daa33

.detailsBtn
    background: $black
    color: #fff
    &:hover
        background-color: #336baa